# Copyright (c) 2026, Williams.Wang. All rights reserved. Use restricted under LICENSE terms.

.DS_Store
.AppleDouble
.LSOverride
node_modules/
dist/
.wrangler/
.parcel-cache/
.cache/
venv/
.venv/
ENV/
env/
.idea/
.vscode/
*.log
logs/
.env
.env.*
.env.local
.env.production
.env.development
docs/
